<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 align="center">Nueva Tarea</h1>
      <div class="form-group">
        <form action="/nueva" method="post">
          <div class="form-group">
            <textarea name="titulo" value="" class="form-control" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="width: 100%">Crear</button>
        </form>
      </div>
    </div>
  </div>
</div>
